<table>
  <thead>
    <tr>
      <th>User name</th>
      <th>Role</th>
      <th>Login Time</th>
      <th>Logout Time</th>
    </tr>
  </thead>
  <tr
    *ngFor="let user of users | paginate: { itemsPerPage: 10, currentPage: p }"
  >
    <td>{{ user.username }}</td>
    <td>{{ user.role }}</td>
    <td>{{ user.lastlogin | date: "shortTime" }}</td>
    <td>{{ user.lastlogout | date: "shortTime" }}</td>
  </tr>
</table>
<pagination-controls (pageChange)="p = $event"></pagination-controls>
